body{
    margin: 0;
    width: 100%;
    height: 100%;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    transition: .1s linear;
    transition-property:background-color, color;
}
img{
    object-fit: cover;
}
::-webkit-scrollbar
{
    width: 2px;
    border-radius: 1px;
    background-color: #000000;
}
::-webkit-scrollbar-thumb
{
    border-radius: 1px;
    background-color: #ab966f;
}
#background img{
    width: 100%;
    height: 100%;
    position: fixed;
}
#canvas{
    position: fixed;
    pointer-events: none;
}
#illustration{
    width: 80%;
    height: 85%;
    top: 80px;
    left: 10%;
    position: absolute;
    background-color: rgba(25, 25, 25, 0.7);
    border: 4px solid rgba(255, 255, 255, 0.5);
}
#tabs{
    width: 100%;
    height: 10%;
    margin-top: 0;
}
#tabs ul{
    width: 97%;
    height: 60%;
    margin: 0 auto;
    top: 30%;
    position: relative;
    border-bottom: 1px solid;
    border-color: #ab966f;
}
#tabs ul li{
    width: 12%;
    height: 100%;
    float: left;
    margin-left: 5px;
    margin-top: -1px;
    line-height: 35px;
    background-color: black;
    color: antiquewhite;
    border: 1px solid #4d4537;
    border-bottom: none;
    text-align: center;
}
#tabs ul li.active{
    background-color: #ab966f;
    color: white;
}
#tabs ul li:hover{
    color: white;
    background-color: #ab966f;
    cursor: pointer;
}
#main{
    width: 100%;
    height: 87%;
}
.list_bar{
    width: 13.5%;
    height: 100%;
    float: left;
    margin-left: 1.5%;
    overflow-y:auto;
}
.list_bar ul li{
    color: antiquewhite;
    padding-left: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #7c6d50;
}
.list_bar ul li.active{
    color: #ab966f;
}
.list_bar ul li:hover{
    color: #ab966f;
    cursor: pointer;
}
#items{
    width: 82%;
    height: 100%;
    margin-left: 1.5%;
    float: left;
    overflow-y:auto;
}
.item{
    width: 12%;
    height: 22%;
    background-color: rgba(30, 30, 30, 0.5);
    border: 1px solid #4d4537;
    float: left;
    transition: .1s linear;
    transition-property:background-color;
    text-align: center;
}
.item:hover{
    cursor: pointer;
    background-color: rgba(20, 20, 20, 0.8);
}
.item img{
    height: 80%;
}
.item_name{
    width: 100%;
    height: 20%;
    line-height: 20px;
    text-align: center;
    color: antiquewhite;
    font-size: 12px;
}
#detail{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    position: absolute;
    color: antiquewhite;
    overflow-y:auto;
}
#basic_attr{
    width: 18%;
    height: 90%;
    top: 5%;
    left: 5%;
    position: absolute;
    border: 2px solid #ab966f;
    text-align: center;
}
#item_pic{
    width: 100%;
    height: 30%;
    background-color: black;
}
#item_pic img{
    max-width: 90%;
    height: 70%;
    padding: 10px;
}
#name{
    font-size: 20px;
}
#type_skill{
    width: 100%;
    height: 10%;
}
#type_skill table{
    width: 100%;
    height: 100%;
    border-collapse:collapse;
}
#dmg_def{
    width: 100%;
    height: 35%;
}
#dmg_def table{
    width: 100%;
    height: 100%;
    border-collapse:collapse;
}
td{
    font-size: 100%;
    line-height: 100%;
    border: 1px solid #4d4537;
}
td img{
    max-width: 90%;
    height: 80%;
    top: 3px;
    position: relative;
}
.row1{
    background-color: #232323;
}
.label{
    width: 100%;
    height: 5%;
    margin-top: 1px;
    background: black;
    line-height: 35px;
}
#bonus{
    width: 100%;
    height: 15%;
 }
#bonus table{
    width: 100%;
    height: 100%;
    border-collapse:collapse;
}
#text_info{
    width: 70%;
    height: 90%;
    top: 5%;
    left: 25%;
    position: absolute;
}
#text_info div{
    padding: 10px;
}
#text_info ul{
    padding: 10px;
    padding-left: 40px;
}
#text_info li{
    list-style: disc;
    padding: 5px;
}
.title{
    font-size: 20px;
}